.loading-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--colourprimary);
  color: var(--coloursecondary);
  text-align: center;
}

.loading-logo {
  width: 96px;
  height: 96px;
  margin-bottom: 1rem;
  border: 1px solid white;
}

.loading-screen p {
  font-size: 1rem;
}

.dots span {
  opacity: 0;
  animation: blink 1.4s infinite both;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}
.dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}