.search-input {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
  background-color: #121212;
  color: var(--coloursecondary);
  border: 1px solid var(--colouraccent);
  margin-bottom: 1rem;
}