.selected-exercise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    margin-bottom: 1rem;
    background-color: #222;
    border-radius: 8px;
}

.selected-exercise .exercise-index {
  font-weight: 600;
  color: var(--colouraccent);
}

.selected-exercise span {
    font-weight: 500;
    font-size: 0.95rem;
}
.selected-exercise button {
    margin-left: 0.3rem;
}

.selected-exercise p {
  margin: 0.2rem 0 0;
  color: #666;
  font-size: 0.9rem;
}

.selected-exercise .remove-exercise {
    background-color: var(--colourdelete);
}

.selected-exercise .buttons {
    display: flex;
    gap: 0.25rem;
    flex-shrink: 0;
}