.add-set-form {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
.add-set-form input {
  width: 60px;
  padding: 4px;
  border-radius: 4px;
}

.remove-set-btn {
  margin-left: 10px;
  background: none;
  border: none;
  color: var(--colouraccent);
  font-size: 1rem;
  cursor: pointer;
}